<!DOCTYPE html>
<html>
  <head>
    <title>DoctorsDashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
        href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css"
        rel="stylesheet"
      />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div data-controller="message-popup" class="flex item-center justify-center absolute top-0 left-0 right-0">
    <% flash.each do |type, message| %>
    <div class="flash bg-indigo-600 text-white px-5 py-2 rounded-xl   <%= type %>" data-message-popup-target="popup">
    <%= message %>!
    </div>
    <% end %>
    </div>
    <div class="flex" data-controller="side-bar-buttons">
    <%= render "shared/side_bar"%>
    <div class="flex-1 overflow-y-auto">
      <%= render "shared/header"%>
    <div class="p-8" data-side-bar-buttons-target="content">
      <%= render "shared/main_content" %>
    </div>
    </div>
     
    </div>
  </body>
</html>
